# Google OAuth Configuration
# Get your Client ID from: https://console.cloud.google.com/apis/credentials
REACT_APP_GOOGLE_CLIENT_ID=315871003848-6v6h2vss6og6uf1cffn3b6a9ff97d4cf.apps.googleusercontent.com
